.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff !important;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}

.booyah-box a, {
  color: black !important;
}
.booyah-box img  {
   display:block;
/*   margin-left: 125px !important;
   margin-right: auto; */
   margin: 0 auto;
  /* margin: 0 0 0 125px;*/
 /*  vertical-align:middle;*/
}